<% if @konnec_register and @konnec_register.errors.any? %>
	<% @konnec_register.errors.full_messages.each do |message| %>
		$('form .regis-errors .alert.alert-danger').append('<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span><%= message %></br>')
		$('form .regis-errors').show()
	<% end %>

    $('#new_konnec_register .regis-btn').show()
    $('#new_konnec_register #loading').hide()
<% else %>
	$('section#register form').fadeOut(500, function(){
		$('section#register .success-regis').fadeIn(500)
	})
<% end %>