// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {
	min-height: 100vh;
	padding: 5%;
	box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

	.topic {
		color: white;
		display: inline-block;
		font-size: 50px;
		font-weight: bold;
		margin-bottom: 20px;
		position: relative;
	}

	.caption {
		position: relative;
		top: 50%;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
	}

	.content {
		color: white;
		background-color: #920A0A;
		padding: 20px;
	}
}

#hero .landing {
	// background-image: url(/assets/detective.jpg);
}

#hero-2 {
	background-image: url(/assets/detective.jpg);
}

#activities .landing {
	// background-image: url(/assets/detective.jpg);
}

.border {
	background-color: #111;
	padding: 18px;
}

.seperator {
	border-bottom:1px solid #383838;
	margin: 30px 0;
}

.regis-label {
	text-align: left;
	padding-top: 7px;
	margin-bottom: 0;

	&.-no-padding {
		padding-top: 0;
	}
}

.regis-btn {
	padding: 16px 60px;
	border: none;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-weight: bold;

	&.-btn-grey {
		background-color: #383838;
	}

	&.-btn-red {
		background-color: #920A0A;
	}

	&.-white-border {
		border: 1px solid #FFFFFF;
	}

	&.-red-border {
		border: 1px solid #920A0A;
	}
	&.-no-bg {
		background-color: none;
	}
}

.typewriter {
	display: inline-block;
}

.typewriter h1 {
	color: white;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	    typing 1s steps(8, end),
	    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.navbar-parallax {
	background-color:rgba(255, 255, 255, 0); 
	font-weight: bold;
	-webkit-transition:background-color .5s;
	-moz-transition:background-color .5s;
	transition:background-color .5s;

	a {
		-webkit-transition:color .5s;
		-moz-transition:color .5s;
		transition:color .5s;
	}
}

.only-mobile {
	display: none;
}

.only-desktop {
	display: inline-block;
}

@media (max-width: 600px) {
	.only-mobile {
		display: inline-block;
	}

	.only-desktop {
		display: none;
	}
}

section {
	overflow: hidden
}

.success-regis {
	font-size: 32px;
	text-align: center;
}